.bg-primary{
    background-color: @bg-primary;
}

.bg-gradient-blue{
    background: linear-gradient(to bottom, @topGradient, @dark-blue);
}

.bg-secondary{
    background-color: @bg-secondary;
}

.bg-purple{
    background-color: @purple;
}