.pt-150{
    .font-62;
    padding-top: 2.43em;
}

.pb-150{
    .font-62;
    padding-bottom: 2.43em;
}

.pb-134{
    .font-62;
    padding-bottom: 2.16em;
}

.pb-176{
    .font-62;
    padding-bottom: 2.83em;
}

.pt-134{
    .font-62;
    padding-top: 2.16em;
}

.pb-182{
    .font-62;
    padding-bottom: 2.9em;
}

.pt-182{
    .font-62;
    padding-top: 2.9em;
}

.mb-54{
    .font-62;
    margin-bottom: 0.87em;
}

.mb-105{
    .font-62;
    margin-bottom: 1.69em;
}

.mb-50{
    .font-62;
    margin-bottom: 0.8em;
}

.m-auto{
    margin: auto;
}

.mb-96{
    .font-62;
    margin-bottom: 1.55em;
}

.pt-h{
    .font-62;
    padding-top: 3.95em;
}

.pt-141{
    .font-62;
    padding-top: 2.27em;
}

.pb-141{
    .font-62;   
    padding-bottom: 2.27em;
}

.mb-143{
    .font-62;
    margin-bottom: 2.3em;
}