//PADDING

.pt-h{
    .font-62;
    padding-top: 3.95em;
}

.pb-182{
    .font-62;
    padding-bottom: 2.9em;
}

.pt-182{
    .font-62;
    padding-top: 2.9em;
}

.pb-176{
    .font-62;
    padding-bottom: 2.83em;
}

.pt-168{
    .font-62;
    padding-top: 2.7em;
}

.pb-168{
    .font-62;
    padding-bottom: 2.7em;
}

.pt-150{
    .font-62;
    padding-top: 2.43em;
}

.pb-150{
    .font-62;
    padding-bottom: 2.43em;
}

.pt-141{
    .font-62;
    padding-top: 2.27em;
}

.pb-141{
    .font-62;   
    padding-bottom: 2.27em;
}

.pb-134{
    .font-62;
    padding-bottom: 2.16em;
}

.pt-134{
    .font-62;
    padding-top: 2.16em;
}

.pt-83{
    .font-62;
    padding-top: 1.3em;
}

.pb-83{
    .font-62;
    padding-bottom: 1.3em;
}

//MARGIN

.mb-0{
    margin-bottom: 0;
}

.m-auto{
    margin: auto;
}

.mt-307{
    .font-62;
    margin-top: 4.9em;
}

.mb-176{
    .font-62;
    margin-bottom: 2.83em;
}

.mb-150{
    .font-62;
    margin-bottom: 2.4em;
}

.mb-143{
    .font-62;
    margin-bottom: 2.3em;
}

.mb-134{
    .font-62;
    margin-bottom: 2.16em;
}

.mb-129{
    .font-62;
    margin-bottom: 2.08em;
}

.mb-117{
    .font-62;
    margin-bottom: 1.88em;
}

.mb-105{
    .font-62;
    margin-bottom: 1.69em;
}

.mb-96{
    .font-62;
    margin-bottom: 1.55em;
}

.mb-54{
    .font-62;
    margin-bottom: 0.87em;
}

.mb-50{
    .font-62;
    margin-bottom: 0.8em;
}





