.footer {
    padding: clamp(50px, 116vw * @px2vw, 116px) 0 clamp(120px, 226vw * @px2vw, 336px);
    color: @footer-color;
    overflow: hidden;
    position: relative;

    @media screen and (max-width: @tablet-l) {
        flex-direction: column;
        gap: 15px;
        height: auto;
        padding: 40px 0;
        text-align: center;
    }

    a{
        color: inherit;
    }

    &__text{
        width: clamp(250px, 700vw * @px2vw, 700px);

        p{
            margin-bottom: 3.75em;
        }

        .cta{
            margin-bottom: 1.57em;
        }
    }

    &__container{
        width: clamp(350px, 1001vw * @px2vw, 1001px);
        display: flex;
        justify-content: space-between;
    }

    &__social{
        margin-left: auto;

        @media screen and (max-width: @tablet-l) {
            margin-left: 0;
        }
    }

    &__legal{
        display: flex;
        gap: 10px;
        color: black;

        span{
            text-decoration: underline;
        }
    }

    &__menu{
        .font-20;
        margin-bottom: 1.3em;
    }

    &__links{
        color: #060062;

        .cta{
            color: @white;
        }
    }

    .menu{
        color: #060062;
        display: flex;
        justify-content: space-between;
        gap: clamp(10px, 30vw * @px2vw, 30px);

        @media screen and (max-width: @tablet-l) {
            flex-wrap: wrap;
            gap: 1em;
            justify-content: center;
        }
    }

    &__img{
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 3px);
        width: clamp(300px, 1151vw * @px2vw, 1151px);
        height: clamp(100px, 136vw * @px2vw, 136px);

        svg{
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
}
